
/* bootstrap styles */
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}
.py-5{padding-top:3rem!important}
.py-5{padding-bottom:3rem!important}
.mb-5,.my-5{margin-bottom:3rem!important}
.shadow{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}
.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-tabs{border-bottom:1px solid #dee2e6}.nav-tabs .nav-item{margin-bottom:-1px}.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6}.nav-tabs .nav-link.disabled{color:#6c757d;background-color:transparent;border-color:transparent}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#007bff}
.flex-column{-ms-flex-direction:column!important;flex-direction:column!important}
@media (min-width:576px){.flex-sm-row{-ms-flex-direction:row!important;flex-direction:row!important}}
.nav-item{margin-bottom:-1px}.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6}
.nav-tabs .nav-link.disabled{color:#6c757d;background-color:transparent;border-color:transparent}.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#007bff}.nav-fill .nav-item{-ms-flex:1 1 auto;flex:1 1 auto;text-align:center}.nav-justified .nav-item{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;text-align:center}
.flex-sm-fill{-ms-flex:1 1 auto!important;flex:1 1 auto!important}
.text-center{text-align:center!important}

.tab-head {
	min-width: 33% !important;
}

.cd-page {
	width: 70%;
	min-width: 450px;
}

.nav-link {
	display: block;
	padding: .5rem 1rem
}

.nav-link:focus,
.nav-link:hover {
	text-decoration: none
}

.nav-link.disabled {
	color: #6c757d
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-item {
	margin-bottom: -1px
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-color: #e9ecef #e9ecef #dee2e6
}

.nav-tabs .nav-link.disabled {
	color: #6c757d;
	background-color: transparent;
	border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #007bff
}

.nav-fill .nav-item {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center
}

.nav-justified .nav-item {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center
}

.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
	transition: 0.3s;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
	color: white;
}

.lined .nav-link.active {
  /* tab color */
  background: none;
  color: white;
  border-color: #E0C707;
}


.nav-pills .nav-link {
  /* nav text color */
  color: gray;
}

.text-uppercase {
  letter-spacing: 0.2em;
  text-transform:uppercase!important;
  font-weight: 500;
}

/* added css */

.details-card {
	background: #232430;
  border-radius: 20px;
}

.nav-tabs {
  border-bottom: none;
  padding: 0;
}

.card-content {
  overflow: hidden;
}

.cd-title {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 100px;
  margin-bottom: 0;
}

.cd-tagline {
  color: white;
  margin: auto;
  max-width: 75%;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.cd-logo {
  float: right;
  max-height: 50px;
  max-width: 40%;
  border-radius: 10px;
  border: 3px solid #06D6A0;
  box-shadow:
    inset 0 0 0 2px black;
  padding: 2px;
  margin-right: 20px;
  margin-top: 20px;
}

.cd-details {
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

/*Detail tab*/
#challenge-info {
  margin-right: 5%;
}

.cd-brief {
  background: linear-gradient(to right,
      rgba(6, 214, 160, 1) 0%,
      rgba(6, 214, 160, 1) 2%,
			transparent 2%,
      transparent 100%
  );
  padding: 1% 1% 3% 4%;
  margin-left: 0px;
  color: #ebe8d8;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.brief-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgba(6, 214, 160, 1)
/*   letter-spacing: 2px; */
}

.cd-description {
  background: linear-gradient(to right,
      rgb(144, 213, 241, 1) 0%,
			rgb(144, 213, 241, 1) 2%,
      transparent  2%,
      transparent 100%
  );
  padding: 1% 1% 3% 4%;
  margin-left: 0px;
  color: #ebe8d8;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.description-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(144, 213, 241, 1);
/*   letter-spacing: 2px; */
}

.cd-assets {
  background: linear-gradient(to right,
      rgb(203, 162, 240, 1) 0%,
			rgb(203, 162, 240, 1) 2%,
      transparent 2%,
      transparent 100%
  );
  padding: 1% 1% 3% 4%;
  margin-left: 0px;
  color: #ebe8d8;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
	border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.assets-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(203, 162, 240, 1)
/*   letter-spacing: 2px; */
}

.cd-prize {
  background: linear-gradient(to right,
      rgb(240, 226, 162, 1) 0%,
			rgb(240, 226, 162, 1) 2%,
      transparent 2%,
      transparent 100%
  );
  padding: 1% 1% 3% 4%;
  margin-left: 0px;
  color: #ebe8d8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.prize-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(240, 226, 162, 1);
/*   letter-spacing: 2px; */
}

.cd-submission {
  background: linear-gradient(to right,
      #ffadad 0%,
			#ffadad 2%,
      transparent 2%,
      transparent 100%
  );
  padding: 1% 1% 3% 4%;
  margin-left: 0px;
  color: #ebe8d8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.submission-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffadad;
/*   letter-spacing: 2px; */
}

/* active solver section */

.cd-become-solver {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.button-as, .button-as:link, .button-as:visited {
  display:inline-block;
	 padding: 15px 20px;
   background-color: #1e1f27;
	 border: 1px solid #E0C707;
	 color: white;
	 font-weight: 500;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 5px;
	 transition: all 0.2s ease-in-out;
  font-family: "Poppins";
}
 .button-as:hover, .button-as:link:hover, .button-as:visited:hover {
	 background:#E0C707;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
   cursor:pointer;
}

.as-info {
	margin-top: 20px;
}

.as-text-title {
	color: white;
}

.as-text-title:hover {
	color:#E0C707;
	cursor:pointer;
}

.as-details {
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
}

.section-content {
	font-family: "Poppins", sans-serif;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-size: 16px;
	padding:0;
}

#home2 {
  padding: 0 !important;
}

/* button */

.submitbuttonwrapper {
	margin-top: 50px;
	margin-bottom: 30px;
  text-align: center;
}

.submitbutton, .submitbutton:link, .submitbutton:visited {
	 padding: 15px 20px;
   background-color: #2a313b;
	 border: 1px solid white;
	 color: white;
	 font-weight: 700;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 3px;
	 transition: all 0.2s ease-in-out;
}
 .submitbutton:hover, .submitbutton:link:hover, .submitbutton:visited:hover {
	 background: black;
	 border: 1px solid black;
	 color: white;
	 border-radius: 30px;
	 cursor: pointer;
}

.login-text {
	padding-top: 50px;
	padding-bottom: 50px;
  color: white;
  text-align: center;
}

/* popup */
.popup-flex{
  margin:30px;
}
.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex !important;
    align-items: center;
}
.popup-content {
    background-color: #2a313b ;
    margin: auto;
    padding: 20px;
    width: 50%;
		min-width: 400px;
		text-align: center;
		-moz-box-shadow: 0 0 10px #fff;
		-webkit-box-shadow: 0 0 10px #fff;
		box-shadow: 0px 0px 10px #fff;
}
.popup-title{
    font-size: 23px;
    padding: 10px;
    line-height: 26px;
		color:#E0C707;
		text-transform: uppercase;
		letter-spacing: 2px;
}

.popup-text {
		font-size: 16px;
		color: white;
}

.popup-content span{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-content span:hover,
.popup-content span:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.popup-show{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
