@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700");

.challenge-page {
  overflow: hidden;
}

#title {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  text-transform: lowercase;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-bottom: 25px;
  letter-spacing: 3px;
}

.upper {
  justify-content: normal;
}

body {
  font-family: "Poppins", sans-serif;
	font-weight: 300;
}

.grid {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 3rem;
  margin-bottom: 100px;
}

.grid > .card {
  background: linear-gradient(to right,
      rgba(6, 214, 160, 0.5) 0%,
      #2a313b  20%,
      #2a313b 100%
  );
  background-clip: padding-box;
  padding: 3% 6% 3% 8%;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(6, 214, 160, 0.5);
  border-width: 0px;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bottom {
  position: relative;
}

.challenge-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  /*
  left: 0;
  margin: auto;
  */
  max-height: 50px;
  max-width: 50%;
  border-radius: 10px;
  border: 2px solid #06D6A0;
  box-shadow:
    inset 0 0 0 2px black;
  padding: 2px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: #06D6A0;
  margin-bottom: 5px;
}

.description {
  font-size: 15px;
  color: white;
  line-height: 1.5;
}

.participants {
  font-size: 12px;
  color: #ebe8d8;
  margin-bottom: 5px;
}

.timeframe {
  font-size: 12px;
  color: #ebe8d8;
  margin-bottom: 5px;
}

.reward {
  font-size: 12px;
  color: #ebe8d8;
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(6, 214, 160), rgba(6, 214, 160));
/*   border-color: rgba(6, 214, 160); */
}

.zoom {
  transition: transform .6s;
}

.zoom:hover {
  -ms-transform: scale(0.96);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
