.forgotpw-page {
  overflow: hidden;
}

.forgotpw-wrap {
  box-sizing: border-box;
	width:100%;
	margin:auto;
  margin-top: 100px;
	max-width:450px;
	min-height:450px;
	position:relative; background:url(https://i.imgur.com/Xp0sRms.png) no-repeat;
  background-position: center 330px;
  background-size: 30%;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.forgotpw-html{
  position:absolute;
  border-radius: 40px;
	width:100%;
	height:100%;
	padding: 70px 70px 50px 70px;
	background:rgba(40,57,101, 0.4);
}

.forgotpw-html .sign-in-htm, {
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}

.forgotpw-html .forgot-pw,
.forgotpw-html .sign-up,
.forgotpw-form .group .check{
	display:none;
}

.forgotpw-html .fp-tab,
.login-form .group .label,
.login-form .group .button{
	text-transform: uppercase;
}

.forgotpw-html .fp-tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 10px;
	margin: 0 15px 30px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.forgotpw-html .forgot-pw:checked + .fp-tab,
.forgotpw-html .sign-up:checked + .fp-tab {
	color:#fff;
	border-color: red; /* Underline color for "Sign in and Sign Up" */
}

.hr{
	height:2px;
	margin: 60px 0px 50px 0;
	background:rgba(255,255,255,.2);
}

/* Login button */
.forgotpw-button, .forgotpw-button:link, .forgotpw-button:visited {
	 padding: 15px 20px;
/*    background-color: #1e1f27; */
   background-color: rgba(40,57,101,.2);
	 border: 1px solid red;
	 color: white;
	 font-weight: 700;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 3px;
	 transition: all 0.2s ease-in-out;
}

 .forgotpw-button:hover, .forgotpw-button:link:hover, .forgotpw-button:visited:hover {
	 background: red;
	 border: 1px solid black;
	 color: white;
	 border-radius: 30px;
}

.forgotpw-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: -10%;
  width: 96.5%;
}

.forgotpw-button {
  width: 300px;
}

.email-sent {
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
}
