/* MODAL CODE */
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  border-radius: 15px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop {
  transition: opacity 0.2s;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.show {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 50px;
}
.modal-header .close {
  margin-top: -2px;
}

.modal-body {
  position: relative;
  padding: 15px;
  background: linear-gradient(
    170deg,
    #06D6A0,
    #1e1f27 165px,
    #1e1f27 100%
  );
  min-height: 500px;
  border-radius: 6px;
}

.blue-modal {
  background: linear-gradient(
    170deg,
    rgba(27, 163, 245, 1),
    #1e1f27 165px,
    #1e1f27 100%
  ) !important;
}

.green-modal {
  background: linear-gradient(
    170deg,
    rgba(6, 214, 160),
    #1e1f27 165px,
    #1e1f27 100%
  ) !important;
}

.yellow-modal {
  background: linear-gradient(
    170deg,
    rgba(224, 199, 7),
    #1e1f27 165px,
    #1e1f27 100%
  ) !important;
}

.purple-modal {
  background: linear-gradient(
    170deg,
    rgba(233, 102, 255),
    #1e1f27 165px,
    #1e1f27 100%
  ) !important;
}





.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.close {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  outline: none;
  position: absolute;
  right: 15px;
  top: 5px;
}

.close:hover {
  cursor: pointer;
  opacity: 1;
}

.modal-title {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-date {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.modal-link:hover {
  color: silver;
}

.modal-summary {
  font-family: 'Poppins';
  white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 16px !important;
	padding:0 !important;
}

.modal-idea-content {
  margin-left: 10px;
  margin-right: 10px;
}

.idea-br {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #E0C707;
}

/* spinner */
.spinner-wrapper {
  text-align: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  content: '';
  box-sizing: border-box;
  margin: auto;
  margin-top: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #E0C707;
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
  animation: spinner 1.0s linear infinite;
}
