@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

@import
url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet");


.landing-link {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

.landing-page {
  height:100%;
  min-height: 100vh;
}


.new-landing-page {
  margin: 0px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1e1f27;
/*     background-color: #1e1f27; */
}
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

.logo-new {
height: auto;
max-width: 16%;
 position: absolute;
 margin: 0;
 padding: 0;
 color: #F9F1E9;
/*    text-align: center; */
 top: -30%;
 left: 41.5%;
bottom: 0;
 -webkit-transform: translate3d(-50%, -50%, 0);
 transform: translate3d(-50%, -50%, 0);
z-index: 1;
}

.logoLetters {
position: absolute;
height: 10%;
}

.login-button-lp {
  position: absolute;
  margin-right: 0 !important;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.landing-nav {
  width: 100%;
  background-color: #0b0b0b;
  position: absolute !important;
  bottom: 0;
  height: 100px;
  overflow: hidden;
  z-index: 10;
}

.landing-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
}
.landing-nav li {
  margin: 0;
  float: left;
  display: inline-block;
  height: 98px;
  margin-bottom: 2px;
  line-height: 100px;
  width: 25vw;
  text-align: center;
  color: #939393; /* Color of the link text */
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: 'Poppins';
  transform: translateY(100%);
}
.landing-nav li.active {
  background-color: #151515;
  color: #efefef;
}

.landing-nav li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
/*     background-color: white; */
}
.landing-nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}
.landing-nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}
.landing-nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}
.landing-nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}
.landing-nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}
.landing-nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}
.landing-nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}
.landing-nav li:hover {
/*     color: #ececec; */
  color: #E0C707;
}
.landing-nav li:active {
  background-color: #222;
}
.landing-nav li:nth-child(1):hover ~ .slide {
  left: 0vw;
}
.landing-nav li:nth-child(2):hover ~ .slide {
  left: 25vw;
}
.landing-nav li:nth-child(3):hover ~ .slide {
  left: 50vw;
}
 .landing-nav li:nth-child(4):hover ~ .slide {
  left: 75vw;
}
.landing-nav li:nth-child(5):hover ~ .slide {
 left: 80vw;
}
/*
nav li:nth-child(5):hover ~ .slide {
  left: 80vw;
}
nav li:nth-child(6):hover ~ .slide {
  left: 100vw;
}
nav li:nth-child(7):hover ~ .slide {
  left: 120vw;
} */
.landing-nav li.slide {
  position: absolute;
  left: -20vw;
  top: 0;
  background-color: #fff;
  z-index: -1;
  height: 2px;
  margin-top: 98px;
  transition: left 0.3s ease;
  transform: translateY(0);
}

.landing-section {
  background-color: #1e1f27;
  height: 100vh;
  margin: 0;
/*     display: flex; */
}
.landing-section .title {
  max-width: 80%;
  width: 100%;
  padding-top: 32vh;
/*     align-self: center; */
  transform: translateY(-50px);
  margin: 0 auto;
/*     overflow: hidden; */
  padding-bottom: 10px;
  position: relative;
}

.landing-section .title span {
  display: inline-block;
  font-size: 50px;
  color: #efefef;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 900;
  letter-spacing: 0.25vw;
}
.landing-section .title span:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}
.landing-section .title span .you {
  position: relative;
  display: inline-block;
  margin-left: 0rem;
  text-decoration: none;
  color: #E0C707;
}
.landing-section .title span .you::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 1s 1s ease both;
}

.title-text {
font-family: 'Montserrat', sans-serif;
}

.title-text-wrapper {
  margin-bottom: 12px;
  display: flex;
  align-items:flex-end;
  width:100%;
}

.title-new-text {
  font-size: 3.5vw;
  color: #efefef;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 900;
  letter-spacing: 0.25vw;
  font-family: 'Montserrat', sans-serif;
}

.collective-text {
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1vw;
}

.cause-text {
  display:inline-flex;
  flex-direction: column;
  align-items: center;
}

.cause-font {
  width:50px;
}

.logo-new-v2 {
  height: auto;
  width: 12vw;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
  /*    text-align: center; */

  z-index: 1;
}

.title-subtext {
margin-left: 6px;
font-family: "Poppins";
font-weight: 200 !important;
}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

#text {
color: white;
font-size: 1.38vw;
font-weight: thin;
position: absolute;
/*   top: 95%; */
left: 30%;
width: 100%;
text-align: center;
 -webkit-transform: translate3d(-50%, -50%, 0);
 transform: translate3d(-50%, -50%, 0);
font-family: 'Poppins', sans-serif;
letter-spacing: 3px;
}

/* How section */

.how-section {
/*   min-height: 100vh; */
margin: 0;
}

.subsection {
padding-bottom: 10vh;
}

.browse {
float: left;
font-size: 18px;
padding-top: 3.6%;
padding-left: 5%;
margin: 0 auto;
color: white;
letter-spacing: 0.5vw;
font-weight: 600;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
max-width: 30%;
max-height: 30%;
line-height: 30px;
}

.cc-underline {
  border-bottom: 1px solid #E0C707;
  padding-bottom: 5px;
}

.cc-underline-blue {
  border-bottom: 1px solid #57B8FF;
  padding-bottom: 5px;
}

.cc-underline-green {
  border-bottom: 1px solid #49DCB1;
  padding-bottom: 5px;
}

.browse-text {
  padding-right: 5%;
  padding-left: 40%;
  padding-top: 3.2%;
/*   margin: auto; */
  text-align: left;
  color: white;
/*   font-family: "Cutive Mono"; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
/*   letter-spacing: 2px; */
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.button-landing, .button-landing:link, .button-landing:visited {
  display:inline-block;
	 padding: 15px 20px;
  margin-right: 50px;
   background-color: #1e1f27;
	 border: 1px solid #E0C707;
	 color: white;
	 font-weight: 500;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 5px;
	 transition: all 0.2s ease-in-out;
  font-family: "Poppins";
}
 .button-landing:hover, .button-landing:link:hover, .button-landing:visited:hover {
	 background:#E0C707;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
   cursor:pointer;
}

.blue-variation {
  border: 1px solid #57B8FF !important;
}

 .button-landing.blue-variation:hover, .button-landing.blue-variation:link:hover, .button-landing.blue-variation:visited:hover {
   background:#57B8FF;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
}

.button-landing.green-variation {
  border: 1px solid #49DCB1 !important;
}

 .button-landing.green-variation:hover, .button-landing.green-variation:link:hover, .button-landing.green-variation:visited:hover {
   background:#49DCB1;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
}

.button-position {
  padding-left: 40%;
  padding-top: 20px;
}

/* Why use this platform section */
.why-section {
  padding-bottom: 50px;
}
.why-title {
  color: white;
  text-align: center;
  margin-bottom: 2%;
  letter-spacing: 3px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.why-container{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.why-box{
	width:300px;
	min-height: 580px;
	border-radius:20px;
	background:#1e1f27;
	box-shadow: -13px -15px 31px #060708,
             	13px 13px 31px #363946;
    display:table;
    margin:20px;
    transition:1s;
}

.why-box div{
	display:table-cell;
	text-align:center;
/* 	vertical-align:middle; */
	color:#222;
	padding:30px;
	color:#1e5b8b;
}
.why-box div h2{
	margin-top:30px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.why-box div p {
	margin-top:30px;
  margin-bottom: 30px;
  color: white;
  line-height: 25px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.why-box div i{
	font-size:100px;
}

@media (max-width:300px){
	.why-container .why-box{
		width:100%;
		margin:20px 5px 20px 5px;
	}
	.why-container .why-box div{
		padding:5px;
	}
	.why-box div h2{
		margin-top:10px;
	}
}

/* Our mission section */
.our-mission {
  padding-top: 25px;
  background-color: black;
  height: 100%;
}

.mission {
  font-size: 1.3vw;
/*   padding-top: 3.6%; */
/*   padding-left: 5%; */
  margin: auto;
  text-align: center;
  color: white;
  letter-spacing: 0.5vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
/*   max-width: 30%; */
/*   max-height: 30%; */
  line-height: 30px;
}

.mission-text {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 50px;
/*   margin: auto; */
  text-align: center;
  color: white;
  font-family: "Cutive Mono";
  font-weight: 100;
/*   letter-spacing: 2px; */
  font-size: 18px;
  line-height: 30px;
}

.mission-subheadings {
  float: left;
  font-size: 18px;
  padding-top: 3.6%;
  padding-left: 15%;
  margin: 0 auto;
  color: white;
  letter-spacing: 0.5vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  max-width: 30%;
  max-height: 30%;
  line-height: 30px;
}

.mission-subtext {
  padding-right: 15%;
  padding-left: 40%;
  padding-top: 3.2%;
/*   margin: auto; */
  text-align: left;
  color: white;
  font-family: "Cutive Mono";
  font-weight: 100;
/*   letter-spacing: 2px; */
  font-size: 18px;
  line-height: 30px;
}

/* Who section */
.who-section {
  background-color: black;
  background: url("https://i.imgur.com/D0CQSqu.jpg");
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  border-radius: 0px 20px 20px 0px;
}

.who-title {
  padding-top: 8%;
  padding-bottom: 3%;
  width: 50vw;
  float:right;
  text-align: center;
  color: white;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 30px;
}

.who-body {
/*   width: 50%; */
  padding-left: 55vw;
  padding-right: 5vw;
  margin: 0 auto;
  color: white;
  color: white;
  line-height: 30px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  letter-spacing: 2px;
}

.goldText {
  color:#E0C707;
}

.blue-text {
  color:#57B8FF;
}

.green-text {
  color:#49DCB1;
}

.red-text {
  color: #E74C3C;
}
