@import url("https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* This controls the Philadelphia skyline logo */
.logo {
  height: 20%;
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 15%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
  z-index: 0;
}

/* This controls the background color */
.page {
  background-color: #131417;
  height: 100vh;
/*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
}

.page .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

/* This controls the "Collective" font */
.collective-font {
  font-weight: 900;
  font-size: 40px;
/*   color: #7E8DFC; */
  color: #E0C707;
  font-family: "Righteous";
}

/* This controls the "Cause" font */
.cause-font {
  font-weight: 100;
  font-size: 40px;
  font-family: "Righteous";
/*   color: #7E8DFC; */
}

/* This controls the position and other attributes of "Collective Cause" */
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 30%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

/*
.intro-text {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
} */

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

#text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   font-family: "Poppins";
   letter-spacing: 3px;
}

/* This controls the button */
.buttonWrap {
   position: absolute;
   top: 65%;
   left: 49.5%;
  -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   text-align: center;
}

.enter, .enter:link, .enter:visited {
	 padding: 15px 20px;
   background-color: #1e1f27;
	 border: 1px solid #E0C707;
	 color: white;
	 font-weight: 700;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 3px;
	 transition: all 0.2s ease-in-out;
}
 .enter:hover, .enter:link:hover, .enter:visited:hover {
	 background:#E0C707;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
   cursor: pointer;
}

.lp-section {
  height: 100vh;
}

.lp-section-bottom {
  height: 75vh;
}

.aboutUs-words {
  padding-top: 100px;
  text-align: center;
}

.aboutUs-title {
  font-family: "Poppins";
  text-align: center;
  color: white;
  font-size: 23px;
  margin: 80px;
  font-weight: 100;
  letter-spacing: 2px;
}

.whiteText {
  color: white;
}

.goldText {
  color: #E0C707;
}

/* This controls the learn button */
.learn-buttonWrap {
   text-align: center;
}

.learn-more, .learn-more:link, .learn-more:visited {
	 padding: 15px 20px;
   background-color: #1e1f27;
	 border: 1px solid #E0C707;
	 color: white;
	 font-weight: 500;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 3px;
	 transition: all 0.2s ease-in-out;
}
 .learn-more:hover, .learn-more:link:hover, .learn-more:visited:hover {
	 background:#E0C707;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
   cursor: pointer;
}

/* Third section */
.how-title {
  font-family: "Righteous";
  text-align: center;
  color: white;
  font-size: 40px;
  padding-bottom: 15px;
  letter-spacing: 2.5px;
}

.lp-grid {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}

.cardBody {
  background-color: #131417;
}

.lp-grid > .lp-card {
  background: linear-gradient(to bottom,
      rgba(42, 49, 59, 0.1) 20%,
      #2a313b 100%
  );
  background-clip: padding-box;
  padding: 3% 6% 3% 8%;
  border-style: solid;
  border-color: rgba(6, 214, 160, 0.5);
  border-width: 0px;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lp-card-title {
  padding-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #E0C707;
  margin-bottom: 5px;
  opacity: 1;
  letter-spacing: 1px;
}

.lp-description {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
  color: #ebe8d8;
  line-height: 1.5;
  font-family: "Poppins";
  letter-spacing: 1px;
}

.lp-upper {
  justify-content: normal;
}

#up-button {
  display: inline-block;
  background-color: #E0C707;
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#up-button::after {
  content: "^";
  font-weight: 800;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: black;
}
#up-button:hover {
  cursor: pointer;
  background-color: #2a313b;
}
#up-button:active {
  background-color: #555;
}
#up-button.show {
  opacity: 1;
  visibility: visible;
}
