@import url("https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* This controls the Philadelphia skyline logo */
.logo {
  height: 20%;
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 15%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}

/* This controls the background color */
.page {
  background-color: #1e1f27;
  height: 100vh;
/*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
}

.page .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

/* This controls the "Collective" font */
.collective-font {
  font-weight: 900;
  font-size: 40px;
/*   color: #7E8DFC; */
  color: #E0C707;
  font-family: "Righteous";
}

/* This controls the "Cause" font */
.cause-font {
  font-weight: 100;
  font-size: 40px;
  font-family: "Righteous";
/*   color: #7E8DFC; */
}

/* This controls the position and other attributes of "Collective Cause" */
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 30%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

/*
.intro-text {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
} */

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

#text {
  color: #E0C707;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   font-family: "Poppins";
   letter-spacing: 3px;
}

/* This controls the button */
.buttonWrap {
   position: absolute;
   top: 65%;
   left: 49.5%;
  -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
   text-align: center;
}

.enter, .enter:link, .enter:visited {
	 padding: 15px 20px;
   background-color: #1e1f27;
	 border: 1px solid #E0C707;
	 color: white;
	 font-weight: 700;
	 text-transform: uppercase;
	 font-size: 13px;
	 letter-spacing: 3px;
	 transition: all 0.2s ease-in-out;
}
 .enter:hover, .enter:link:hover, .enter:visited:hover {
	 background:#E0C707;
	 border: 1px solid black;
	 color: black;
	 border-radius: 30px;
}
