@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700");

.navLabel {
  position: absolute;
}

nav {
  position: fixed !important;
}

.handler {
  width: 1.5cm;
  line-height: 1.5cm;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  position: fixed;
}

.fa-list {
  color: white;
  cursor: pointer;
}

.nav-home {
  top: 25%;
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-challenge-center {
  position: absolute;
  color: white;
  top: 45%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-profile {
  position: absolute;
  color: white;
  top: 65%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-logout {
  position: absolute;
  color: white;
  top: 85%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.navWrapper {
  display: none;
}

.nav-logo {
  position: absolute;
  top: 10px;
  max-height: 75px;
  left: 30%;
}

.navLoggedIn {
  transform: translateX(-110%);
  transition: transform 300ms ease-out;
  background: black;
  position: absolute;
  min-width: 250px;
  height: 60vh;
  overflow-y: auto;
  padding: 8px 10px;
  border-radius: 15px;
  z-index: 100;
}

ul {
  padding: 8px 0;
  margin: 0;
}

.overlay {
  opacity: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: opacity;
  transition: opacity 150ms ease;
  pointer-events: none;
}

input:checked+.handler {
  display: none;
}

input:checked+.handler+.overlay {
/*   opacity: 0.3; */
  pointer-events: auto;
  color: white;
}

input:checked+.handler+.overlay+nav {
  transform: translateX(0);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.whiteLink {
  color: white;
  text-decoration: none;
}

.whiteLink:hover {
  cursor: pointer;
}

/* -------------- IF LOGGED OUT ----------------- */
.navLoggedOut {
  transform: translateX(-110%);
  transition: transform 300ms ease-out;
  background: black;
  position: absolute;
  min-width: 250px;
  height: 50vh;
  overflow-y: auto;
  padding: 8px 10px;
  border-radius: 15px;
  z-index: 100;
}

.nav-home-lo {
  position: absolute;
  color: white;
  top: 30%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-challenge-center-lo {
  position: absolute;
  color: white;
  top: 55%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-login-lo {
  position: absolute;
  color: white;
  top: 80%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

/* admin navbar styling */
.navAdmin {
  transform: translateX(-110%);
  transition: transform 300ms ease-out;
  background: black;
  position: absolute;
  min-width: 250px;
  height: 75vh;
  overflow-y: auto;
  padding: 8px 10px;
  border-radius: 15px;
  z-index: 100;
}

.nav-home-admin {
  top: 20%;
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-challenge-center-admin {
  position: absolute;
  color: white;
  top: 33%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-profile-admin {
  position: absolute;
  color: white;
  top: 46%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-dashboard-admin {
  top: 59%;
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-create-challenge-admin {
  top: 72%;
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-logout-admin {
  position: absolute;
  color: white;
  top: 85%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.goldLink {
  color: #E0C707;
  text-decoration: none;
}

.goldLink:hover {
  cursor: pointer;
}
