.profile-card {
  width: 70% !important;
  min-width: 450px;
}

.profile-background {
  background: #1e1f27;
  border-radius: 20px;
}

.profile-picture img {
    border-radius: 100%;
    max-width: 150px;
    max-height: 150px;
    border: solid 3px #039be5;
  display: block;
  margin-left: auto;
  margin-right: auto;
/*   width: 50%; */
}

.profile-name {
    font-weight: bold;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding: 10px;
  color: white;
}

.profile-name-text {
  margin-bottom: 0;
}

.profile-location {
  margin: auto;
  text-align: center;
  color: gray;
  margin-top: -15px;
}

.profile-bio {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.profile-bio pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-top: 10px;
  text-align: left;
  padding-bottom: 20px;
  color: white;
  font-family: 'Poppins';
}

.container-body {
  margin-top: 20px;
  position: relative;
}

.container-body .profile-stats {
  word-wrap: break-word;
  display: flex;
    align-items: center;
    justify-content: center;
  color: white;
  width: 60%;
  margin: auto;
}

.profile-stats p {
  color: grey;
/*     font-weight: bold; */
    font-size: 12px;
    margin-bottom: -15px;
    text-transform: uppercase;
  text-align: center;
}

.profile-ideas {
  float: left;
  width: 50%;
  text-align: center;
}


.profile-proposals {
  float: left;
  width: 50%;
  text-align: center;
}

.profile-imps {
    float: left;
    width: 33.33%;
    text-align: center;
}

.edit-icon {
  position: absolute;
  right: 20px;
}

.pencil {
  color: white;
  font-size: 20px;
}

.pencil:hover {
  cursor: pointer;
  color: #E0C707;
}
