/* list at bottom */
.table-wrapper {
}

.submission-list {
  width: 90%;
  color: white;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 15px;
}

.modal-td {
  padding: 0 !important;
}

.list-status, .list-date {
  text-align: center;
}

th {
  border-bottom: 1px solid #039be5;
  color: grey;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.submission-object {
}

.submission-object:hover {
  cursor: pointer;
  background: linear-gradient(to right,
      rgba(6, 214, 160, 0.5) 0%,
      #2a313b  20%,
      #1e1f27 100%
  );
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.ui-none-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ui-none-text {
  color: white;
  text-align: center;
}

.ui-link {
  color: gray;
}

.ui-link:hover {
  color: #E0C707
}
